# Ignore artifacts:
build/
dist/

# Ignore all log files:
*.log

# Ignore node modules:
node_modules/

# Ignore Expo files:
ios/
android/

# Ignore environment secrets and configs:
.env
.env.local
.env.*.local

# Ignore cache:
.cache/

# Ignore other tools:
.yarn/
coverage/
.vscode/

# Ignore certain styles or assets:
assets/images/
*.css

# Ignore other files that don't need to be prettified:
CHANGELOG.md
README.md
